button.Add-to-cart{
  position: absolute;
  top: 50%;
  left: 45.50%;
  background-color: yellow;
  border-width : 1px;
}

button.Pluss-2-button{
  position: absolute;
  top: 50%;
  left: 50.5%;
  border-width : 1px;
}